<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editar Aluno</title>
  </head>
  <body>
    <a href="/cursos/">
      <li>Voltar</li>
    </a>
    <h1>Novo/Atualizar curso</h1>

    <form method="POST">
      {% csrf_token %} {{ form }} 
      
      <button type="submit">Salvar</button>

    </form>

    {% if curso %}
    <a href="{% url 'delete_curso' curso.id %}">Deletar Aluno</a>
    {% endif %}
    <br>
    {% if curso %}
      <h2>Disciplinas:</h2>
      <ul>
        {% for d in disciplinas %}
        <li>
          {{ d.nome }}
          <a href="{% url 'delete_curso_discplina' d.id %}">Remover</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
  </body>
</html>
