<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cursos</title>
</head>
<body>
    <a href="/">
        <li>Início</li>
      </a>
    <ul>
        {% for curso in cursos %}
            <a href="{% url 'update_curso' curso.id %}">
                <li> {{ curso.nome }}</li>
            </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_curso' %}">Novo curso</a>
</body>
</html>