<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alunos</title>
</head>
<body>
    <a href="/">
        <li>Início</li>
      </a>
    <ul>
        {% for aluno in alunos %}
            <a href="{% url 'update_aluno' aluno.id %}">
                <li> {{ aluno.nome }}</li>
            </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_aluno' %}">Novo aluno</a>
</body>
</html>