<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editar Matricula</title>
  </head>
  <body>
    <a href="/alunos/">
      <li>Voltar</li>
    </a>
    <h1>Novo/Atualizar matricula</h1>

    <h2>Aluno: {{ aluno.nome }}</h2>
    <h2>Curso: {{ curso.nome }}</h2>
    <form method="POST">
      {% csrf_token %} {{ form }} 
       
      
      <label>Disciplina:</label>
      <select  name="idDisciplina" id="idDisciplina">
        {% for c in disciplinas %}
        {% if aluno.iddisciplina == c.id %}
        <option selected value="{{ c.id }}">{{ c.nome }}</option>
        {% else %}
        <option value="{{ c.id }}">{{ c.nome }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <button type="submit">Salvar</button>
    </form>

    {% if matricula %}
    <a href="{% url 'delete_matricula' matricula.id %}">Deletar Matricula</a>
    {% endif %}
  </body>
</html>
